/* general */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #b7afdb;
  text-align: center;
  height: 80vh;
}

/* fade in */
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* return button */
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Microsoft Sans Serif", sans-serif;
  font-weight: 700;
}

.fourth {
  border-color: #00a;
  color: #fff;
  background-image: linear-gradient(45deg, #00a 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.fourth:hover {
  background-position: 0;
}

/* computer */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.computer-wrap {
  position: relative;
}

#computer {
  width: 50vw;
}

/* typing */
.typed {
  position: absolute;
  top: 18%;
  left: 19%;
  width: 60%;
  font-size: 1vw;
  line-height: 2vw;

  text-align: left;
  font-family: "Courier New", "Lucida Console", monospace;
  color: white;
  vertical-align: text-bottom;
}

.typed::after {
  content: "|";
  font-size: 1vw;
  line-height: 2vw;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(245, 245, 245);
  }
}

/* volume slider */
#player {
  width: 350px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

#player i {
  position: absolute;
  margin-top: -6px;
  color: #666;
}

#player i.fa-volume-down {
  margin-left: -8px;
}

#player i.fa-volume-up {
  margin-right: -8px;
  right: 0;
}

#volume {
  position: absolute;
  left: 24px;
  margin: 0 auto;
  height: 5px;
  width: 300px;
  background: #555;
  border-radius: 15px;
}

#volume .ui-slider-range-min {
  height: 5px;
  width: 300px;
  position: absolute;
  background: #84d4d6;
  border: none;
  border-radius: 10px;
  outline: none;
}

#volume .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}
